:root {
  --yellow: rgb(245, 209, 66);
  --black: rgb(13, 13, 18);
  --black-light: rgb(27, 27, 28);
  --white: rgb(255, 255, 255);
}
.panel-blog-main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--black-light);
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 2em;
}

.panel-ele {
  background-color: inherit;
}

.post {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  gap: 10px;
  width: 30%;
  cursor: pointer;
  border-radius: 20px;
}

.post:hover + .blog-preview {
  color: var(--white);
  transition: color 0.5s;
}

.post:hover > .blog-preview {
  color: var(--white);
  transition: color 0.5s;
}

.post-intro {
  background-color: inherit;
  color: var(--white);
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  line-height: 15px;
}

.preview {
  text-align: left;
  padding-left: 50px;
  margin-top: -20px;
}
.post-view {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  background-color: inherit;
  max-height: 700px;
  overflow: scroll;
}

.blog-preview {
  background-color: inherit;
  color: rgb(83, 83, 83);
  margin-top: -20px;
  margin-left: 20px;
  text-align: left;
  line-height: 10px;
  justify-content: left;
}

/* .blog-preview:hover {
} */

em {
  background-color: inherit;
  color: inherit;
}

.blog-preview > * {
  color: inherit;
}
